@import '/src/styles/styles.scss';

nb-layout-column {
  @include flex(flex-start, center, column);
  padding: 3rem 2rem 2rem!important;
  @include media-mobile {
    padding: 3rem 1rem 2rem!important;
  }
} 

.card-container {
  width: 100%;
}