@import "/src/styles/styles.scss";

:host {
  @include media-tablet {
    margin: 0 1rem;
  }
  width: 100%;
  margin: 0 $initialMargin;
}
.header {
  @include flex(space-between, center);
  width: 100%;

  &__logo {
    @include media-mobile {
      font-size: 1.5rem;
    }
    color: $secondary;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
  }

  &__user {
    @include media-tablet {
      gap: 1rem;
    }
    @include flex(space-between, center);
    gap: $initialMargin;

    &--username {
      @include media-tablet {
        font-size: 1rem;
      }
      @include media-mobile {
        display: none;
      }
      color: $accent;
      font-family: "Kumbh Sans", sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}
